<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= piece.name %></td>
        <td><%= piece.quantity %></td>
        <td><%= piece.color %></td>
        <td>
          <ul>
            <% piece.attaches.each do |img| %>
              <li> <%= image_tag img.variant(resize: '100x100')%> || <%= link_to 'Download', rails_blob_path(img, disposition: "download") %></li>

            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', game_piece_path(@game, piece) %></td>
        <td><%= link_to 'Edit', edit_game_piece_path(@game, piece) %></td>
        <td><%= link_to 'Destroy', game_piece_path(@game, piece), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece', new_game_piece_path(@game) %>
