<%= form_with(model: [@game, rule], local: true) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rule_text %>
    <%= form.text_field :rule_text %>
  </div>

  <div class="field">
    <%= form.label :attach %>
    <%= form.file_field :attach %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
